n8n/workflows/daily_digest_email.json
{
  "name": "Lumina — Daily Digest Email",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 15 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every day at 15:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LUMINA_API_BASE }}/webhooks/digest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Token",
              "value": "={{ $env.N8N_WEBHOOK_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-digest",
      "name": "Get digest from Lumina",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.DIGEST_RECIPIENT }}",
        "subject": "=Lumina daily digest — {{ $json.generated_at }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "gmail-send",
      "name": "Send digest email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [780, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Every day at 15:00": {
      "main": [
        [
          {
            "node": "Get digest from Lumina",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get digest from Lumina": {
      "main": [
        [
          {
            "node": "Send digest email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
